<h1>Welcome to my CRM<h1>
  <nav>
    <h2>Nav Bar</h2>
      <ul>
        <li><a href="localhost4567/contacts">Contacts</a></li>
        <li><a href="localhost4567/contacts">Contacts</a></li>
      </ul>
